{{template "base" .}}

{{define "title"}}Links{{end}}

{{define "main"}}
<!-- <div class="form-signin">
    <form method="POST" action="/signin">
      <h1 class="h3 mb-3 fw-normal">Sign in</h1>
  
      <div class="form-floating">
        <input type="text" name="username" class="form-control" id="floatingInput" placeholder="Username">
        <label class="labelText">Username</label>
      </div>
      <div class="form-floating">
        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label class="labelText">Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit" value="submit">Sign in</button>
    </form>
</div> -->
<form class="form-links" method="POST", action="/link/create">
    <h1 class="h3 mb-3 fw-normal">Create Link</h1>
    <div class="mb-3">
      <label class="form-label">URL</label>
      <input type="text" name="url" class="form-control">
      <div class="form-text">What URL do you want to save? https://...</div>
    </div>
    <div class="mb-3">
      <label class="form-label">Shortcut</label>
      <input type="text" name="symbol" class="form-control", placeholder="(Optional)">
      <div class="form-text">Make this URL available at url.ostamand.com/shortcut</div>
    </div>
    <div class="mb-3 form-label">
        <label class="form-label">Description</label>
        <div class="mb-3 input-group">
            <textarea class="form-control" name="description" placeholder="(Optional)" ></textarea>
        </div>
    </div>
    <button type="submit" class="w-100 btn btn-lg btn-primary">Submit</button>
  </form>
{{end}}